@charset "EUC-KR";

.joinbtn {
	text-align: left;
}
.parentheader{
	background-color: #1D1D1F;
	width: 100%;
	margin: 0px auto;
	border-radius: 0px;
	font-family:arial,sans-serif;
}
.header{
	margin: 0px auto;
	width: 1450px;
	background-color: #1D1D1F;
/* 	border-top: 2px solid #D2D2D2;
	border-bottom: 2px solid #D2D2D2; */
}
.headerContent{
	background-color: #fbfbfd;
	height:46px;
	width: 1450px;
	margin: 0px auto;
	text-align: center;
}
.headerContentText{
	line-height:46px;
}
.headerContentText > a{
	color: #0066cc !important;
}
a{
	color: #f5f5f7 !important;
}
.contents {
	margin: 0px auto;
	width: 100%;
	height : 560px;
}
.logo{
 	font-size: 25px; 	
}

.logstate{
	float: right;
	font-size : 12px; 
}
.search{
	padding: 20px;
	text-align: center;
}
.serarchform{
	padding-top : 20px;
}
.label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
.guidetext{
	padding-top: 20px;
}
.searcBtn{
 padding: 11px 12px;
}
.weatherContents{
 	background-color: #F5F5F7;
	position:relative;
	width: 100%;
	padding: 50px;
	/* height:605px; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.weatherForm{
	background-color: #333333;
	width: 20%;
	height: 150px;
	margin: 5px;
	border-radius:5px;
}
.weatherForm > span{
	width: 100%;
	margin: 5px auto;
	text-align: center;
	color: #f2f2f2
}

.weatherForm > div{
	width: 100%;
	margin: 5px auto;
	text-align: center;
	color: #f2f2f2
}
#weatherPng1{
    max-height: 125px;
	max-width: 125px;
	float:left;
	padding: 4%;
}
#weatherPng2{
	max-height: 125px;
	max-width: 125px;
	float:left;
	padding-left: 3%
}
#weatherPng3{
    max-height: 125px;
	max-width: 125px;
	float:left;
	padding-left: 3%;
}
#weatherPng4{
    max-height: 125px;
	max-width: 125px;
	float:left;
	margin-top: 5%;
}
#todayWeather{
	background-color: green;
	width: 100%;
	height: 320px;
	position: absolute;
	margin-top: 125px;
}

#fcstTime{
	font-weight: 1000;
    font-size: larger;
	padding-left: 15%;
}

/*타이머 css**********************************************************************************/
.clockdate-wrapper {
    background-color: #333;
    padding:7px;
    width: 480px;
    text-align:center;
    border-radius:5px;
    margin:0px auto;
  
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:50px;
    top:-5px;
    left:10px;
}
#date {
    letter-spacing:3px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}
#clockdate{
	padding: 20px;
}
/******************************************************************************************/
